<div class="banner">
    <div class="container">
      <h1><span id="text-shadow" data-controller="typed-js"></span></h1>
    </div>
  </div>
<div class="container-xl col-12" data-controller="toggle-visible">
  <div class="container-fluid mt-5 ">
    <% if user_signed_in? %>
      <h1 class="d-flex justify-content-between">My lists: <button class="btn fs-5 btn-outline-success" data-action="click->toggle-visible#toggleVisible">Add a list</button></h1>
    <% else %>
      <h2 class="d-flex justify-content-between">SIGN-UP or LOG-IN to start creating lists! <div><%= link_to("SIGN-UP", new_user_registration_path, class: "btn fs-5 btn-outline-success me-2" ) %><%= link_to("Login", new_user_session_path, class: "btn fs-5 btn-outline-success" ) %></div></h2>
    <% end %>
  </div>
  <div class="d-none" data-toggle-visible-target="form">
        <%= render "form", list: @list%>
    </div>
    <div id="card-container" >
    <% if user_signed_in? %>
        <% @lists.each do |list| %>
          <%= link_to(list_path(list), class:"text-decoration-none") do %>
            <% if list.background_image.attached? %>
            <div id="card-movie"style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(list.background_image.key,
              width: 400, height: 300, crop: :fill) %>')">
              <p id="title"><%= list.name %></p>
              <button>hola</button>
            </div>
            <% else %>
              <div id="card-movie" style= "background-color: gray;">
              <p id="title"><%= list.name %></p>
            </div>
            <% end %>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>
