<div class="banner"  >
    <div class="container">
      <h1>Save any kind of movies</h1>
    </div>
  </div>
<div class="container-xl col-12" data-controller="toggle-visible">
  <div class="container-fluid mt-5 ">
    <h1 class="d-flex justify-content-between">My lists:<button class="btn fs-5 btn-outline-success" data-action="click->toggle-visible#toggleVisible">Add a list</button></h1>
  </div>
  <div class="d-none" data-toggle-visible-target="form">
        <%= render "form", list: @list%>
    </div>
    <div id="card-container">
        <% @lists.each do |list| %>
          <%= link_to(list_path(list), class:"text-decoration-none") do %>
            <% if list.background_image.attached? %>
            <div id="card-movie" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(list.background_image.key,
              width: 400, height: 300, crop: :fill) %>')">
              <p id="title"><%= list.name %></p>
            </div>
            <% else %>
              <div id="card-movie" style= "background-color: gray;">
              <p id="title"><%= list.name %></p>
            </div>
            <% end %>

          <% end %>
      <% end %>
  </div>
</div>
