<% if @list.background_image.attached? %>
  <div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@list.background_image.key,
      width: 400, height: 300, crop: :fill) %>')">
    <div class="container">
      <h1><%= @list.name %> movies</h1>
    </div>
  </div>
<% else %>
  <div class="banner" >
    <div class="container">
      <h1><%= @list.name %> movies</h1>
    </div>
  </div>
<% end %>
<div class="row">
  <div id="small-container" data-controller="toggle-visible">
    <div class="d-flex justify-content-end mt-3 mb-3 " >
      <button class="btn fs-5 btn-outline-success" data-action="click->toggle-visible#toggleVisible">Add a movie</button>
    </div>
    <div class="d-none" data-toggle-visible-target="form">
        <%= render "/bookmarks/form", list: @list, bookmark: @bookmark %>
    </div>
    <div id="card-container-area">
      <% if !@bookmarks.empty? %>
          <% @bookmarks.each do |bookmark| %>
              <div class="card d-flex justify-content-between" >
                <%= image_tag(bookmark.movie.poster_url, id:"image-from-card") %>
                <div class="d-flex flex-column  card-body">
                  <div class="text-wrap mb-1 overflow-hidden" id="overflow-hide">
                    <p class="card-title"><strong><%= bookmark.movie.title %></strong>   <span class="text-secondary"><%= bookmark.movie.rating %></span>  <span class="text-warning"><i class="fa-solid fa-star"></i></span></p>
                    <p class=" text-secondary"><%= bookmark.movie.overview %></p>
                  </div>
                  <div class="d-flex justify-content-between overflow-hidden">
                    <p class=""><i class="fa-solid fa-quote-left"></i>  <%= bookmark.comment %></p>
                    <%= link_to("delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"ps-5 text-danger text-decoration-none") %>
                </div>
              </div>
            </div>
          <% end %>
      <% else %>
        <p>No bookmark found!</p>
      <% end %>
    </div>
    <hr>
  <div class="small-container">
    <h3>Reviews</h3>
        <% @reviews.each do |review|%>
        <div class="flex-row justify-content-between">
          <div>
            <p><span class="text-warning"><i class="fa-solid fa-star"></i></span><span class="text-warning"><i class="fa-solid fa-star"></i></span><span class="text-warning"><i class="fa-solid fa-star"></i></span><span class="text-warning"><i class="fa-solid fa-star"></i></span> <span class="text-secondary f"><em><%=distance_of_time_in_words(review.created_at, Time.now) %> ago</span></em></p>
            <p class="fw-bold"><%= review.comment %></p>
            <hr>
          </div>
          <% end %>
          <div class="d-flex justify-content-center">
            <div class="w-50 bg-white p-3">
              <%= render "/reviews/forms", list: @list, review: @review %>
            </div>
          </div>
      </div>
    </div>
</div>
