<% if @list.background_image.attached? %>
  <div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@list.background_image.key,
      width: 400, height: 300, crop: :fill) %>')">
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
  </div>
<% else %>
  <div class="banner" >
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
  </div>
<% end %>
<div class="row">
  <div id="small-container" data-controller="toggle-visible">
    <div class="d-flex justify-content-between mt-3 mb-3 " >
      <% if @list.user == current_user %>
        <p class="fs-3">My bookmarks</p>
      <% else %>
        <p class="fs-3">The bookmarks from <%= @list.user.email  %></p>
      <% end %>
      <% if @list.user == current_user %>
        <button class="btn fs-5 btn-outline-success" data-action="click->toggle-visible#toggleVisible">Add a movie</button>
      <% end %>
    </div>
    <div class="d-none" data-toggle-visible-target="form">
        <%= render "/bookmarks/form", list: @list, bookmark: @bookmark %>
    </div>
    <div id="card-container-area">
      <% if !@bookmarks.empty? %>
          <% @bookmarks.each do |bookmark| %>
              <div class="card d-flex justify-content-between shadow" data-aos="fade-right" >
                <%= image_tag(bookmark.movie.poster_url, id:"image-from-card") %>
                <div class="flex-column  card-body">
                  <div class="text-wrap mb-1 overflow-hidden" id="overflow-hide">
                    <p class="card-title"><strong><%= bookmark.movie.title %></strong>   <span class="text-secondary"><%= bookmark.movie.rating %></span>  <span class="text-warning"><i class="fa-solid fa-star"></i></span></p>
                    <p class=" text-secondary" id="show"><%= bookmark.movie.overview %></p>
                  </div>
                  <div class="d-flex justify-content-between overflow-hidden">
                    <p class=""><i class="fa-solid fa-quote-left"></i>  <%= bookmark.comment %></p>
                    <% if policy(bookmark).destroy? %>
                    <%= link_to("delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"ps-5 text-danger text-decoration-none") %>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
      <% else  %>
        <p>No bookmark found!</p>
      <% end %>
    </div>
    <hr>
  <div class="small-container"  data-aos="zoom-in">
    <h3>Reviews</h3>
    <% if @reviews.empty? %>
      <p class="ps-3 text-secondary">No reviews yet. Write the first review to this list!</p>
    <% else %>
        <% @reviews.each do |review|%>
        <div class="flex-row justify-content-between">
          <div >
            <p><% rating = review.rating.to_i %> <!-- assume rating is 4 out of 5 -->
              <% 5.times do |i| %>
                <% if i < rating %>
                  <span class="text-warning"><i class="fa-solid fa-star"></i></span> <!-- filled star for ratings greater than i -->
                <% else %>
                  <i class="fa-regular fa-star"></i> <!-- unfilled star for ratings less than or equal to i -->
                <% end %>
              <% end %>
              <span class="text-secondary f"><em><%=distance_of_time_in_words(review.created_at, Time.now) %> ago</span> by <%= review.user.email %></em>
              </p>
            <p class="fw-bold d-flex justify-content-between"><%= review.comment %> <% if policy(review).destroy? %>
                    <%= link_to("delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"ps-5 text-danger text-decoration-none") %>
                    <% end %></p>
            <hr>
          </div>
          <% end %>
    <% end %>
          <div class="d-flex justify-content-center">
            <div class="bg-white p-3  shadow" id="form">
              <%= render "/reviews/forms", list: @list, review: @review %>
            </div>
          </div>
      </div>
    </div>
</div>
