<% if user_signed_in? && current_user.photo.attached?
%>
<nav class="navbar bg-white bg-body-tertiary sticky-top" id="">
      <form class="container-fluid">
      <%= image_tag("icon.png", size: "70x70", class:"ms-5 justify-content-start") %>
        <div class="justify-content-end ">
          <%= link_to("All lists", root_path, class: "btn btn-sm") %>
          <%= link_to("My lists", mylists_path, class: "btn btn-sm") %>
          <%= link_to("New list", new_list_path, class: "btn btn-sm") %>
          <%= current_user.username %>
          <%= cl_image_tag(current_user.photo.key,  height: 50, width: 50, class:"avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to("Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete}) %>
          </li>
        </div>
      </form>
      <div>

      </div>
    </nav>
<% elsif user_signed_in? && !current_user.photo.attached? %>
  <nav class="navbar bg-white bg-body-tertiary sticky-top" id="">
      <form class="container-fluid">
      <%= image_tag("icon.png", size: "70x70", class:"ms-5 justify-content-start") %>
        <div class="justify-content-end ">
          <%= link_to("All lists", root_path, class: "btn btn-sm") %>
          <%= link_to("My lists", mylists_path, class: "btn btn-sm") %>
          <%= link_to("New list", new_list_path, class: "btn btn-sm") %>
          <%= current_user.username %>
          <%= link_to("Log out", destroy_user_session_path, class:"text-decoration-none", data: {turbo_method: :delete}) %>
        </div>
      </form>
    </nav>
<% else %>
<nav class="navbar bg-white bg-body-tertiary sticky-top" id="">
      <form class="container-fluid">
      <%= image_tag("icon.png", size: "70x70", class:"ms-5 justify-content-start") %>
        <div class="justify-content-end ">
          <%= link_to("All lists", root_path, class: "btn btn-sm") %>
          <%= link_to("My lists", mylists_path, class: "btn btn-sm") %>
          <%= link_to("New list", new_list_path, class: "btn btn-sm") %>
        </div>
      </form>
    </nav>
<% end %>
