<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


  </head>

  <body>
    <nav class="navbar bg-white bg-body-tertiary sticky-top" id="">
      <form class="container-fluid">
      <%= image_tag("icon.png", size: "70x70", class:"ms-5 justify-content-start") %>
        <div class="justify-content-end ">
          <%= link_to("My lists", root_path, class: "btn btn-sm") %>
          <%= link_to("New list", new_list_path, class: "btn btn-sm") %>
        </div>
      </form>
    </nav>
    <%= yield %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
